body {
  background-image: "Coding.png";
}
p {
  color: white;
}
h1 {
  color: transparent;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
.body {
  width: 100%;
  height: inherit;
  background-color: black;
}
.header {
  width: 100%;
  height: 150px;
  background-color: transparent;
}
.footer {
  width: 100%;
  height: 125px;
  background-color: black;
}
